.full-width-block
  .row
    .col-md-12.bg.awright   
      %img.load-img.img-responsive{:src => "/images/awright/awright-logo.png"} 


.container.project-body
 
  = haml :coasters

  .dash

  = haml :extrude

  .dash

  = haml :la

  .dash

  = haml :cubedeco

  .dash

  = haml :graphicpillow

  .dash

  = haml :blackwhitegraphics

  .dash

  = haml :cardigan

  .dash

  = haml :sweater

  .dash

  = haml :patchwork

  .dash

  = haml :azteco

  .dash

  = haml :spiral

  .info
    %h1 Alexa Wright
    %p All items are hand-crafted.
    %ul.tags
      %li Visual Art
      %li Fashion
      %li Home Goods
      %li Draping + Patternmaking + Sewing

.pagination
  .inner
    %a{:href => "/vestorly"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/gifgasm"} 
      .next
        %span.fa.fa-angle-left 

= haml :work

