.full-width-block
  .row
    .col-md-12.bg.awright   
      %img.load-img.img-responsive{:src => "/images/awright/awright-logo.png"} 

.project-body
    
  = haml :cubedeco

  .dash2

  = haml :graphicpillow

  .dash2  

  = haml :blackwhitegraphics

  .dash2

  = haml :patchwork

  .dash2

  = haml :sweater

  .dash2

  = haml :azteco

  .info
    %h1 Alexa Wright
    %p All items are hand-crafted.
    %ul.tags
      %li Fine Art
      %li Fashion + Home Goods Design
      %li Draping + Patternmaking + Sewing
