.logos

  %h4 Logos
  
  = haml :cosinegroup
  .dash
  = haml :mountpenguin
  .dash
  = haml :infinitelooplogo
  .dash
  = haml :gifgasmlogo
  .dash
  = haml :vestorlabslogo
  .dash
  = haml :solslogo
  .dash
  = haml :monkeybadger
  .dash
  = haml :toriilogo
  .dash
  = haml :dotbk
  
.pagination
  .inner
    %a{:href => "/illustration"} 
      .previous
        %span.fa.fa-angle-right
    %a{:href => "/vestorly"} 
      .next
        %span.fa.fa-angle-left 

= haml :work