.item.logos

  %h4 Logos

  = haml :cosinegroup

  .dash2

  = haml :mountpenguin

  .dash2

  = haml :monkeybadger

  .dash2

  = haml :infinitelooplogo

  .dash2

  = haml :solslogo


  .dash2

  = haml :gifgasmlogo

  .dash2

  = haml :vestorlabslogo

  .dash2
  
  = haml :toriilogo

  .dash2

  = haml :dotbk

